body{
  background:#f8fafc;
}

.card{
  transition:0.3s ease;
}

.card:hover{
  transform:translateY(-5px);
}

button,
.btn{
  transition:0.3s ease;
}

button:hover,
.btn:hover{
  opacity:0.9;
  transform:scale(1.02);
}

input:focus,
textarea:focus{
  outline:none;
  border:1px solid #2563eb;
  box-shadow:0 0 5px rgba(37,99,235,0.3);
}
.dark{
  background:#0f172a;
  color:white;
}

.dark .sidebar{
  background:#020617;
}

.dark .card{
  background:#1e293b;
  color:white;
}

.dark .main-content{
  background:#0f172a;
}

.dark table{
  background:#1e293b;
  color:white;
}

.dark input,
.dark textarea{
  background:#334155;
  color:white;
  border:none;
}
